<ui-component name="box" path="common.form" config="if:~PATH~;title:@(List of inputs and outputs);icon:ti ti-code-branch;closeesc:1;closeoutside:1;autofocus:true;reload:?/reload;scrollbar:1;submit:?/submit;width:960" class="hidden" plugin="~PATH~">
	<div class="padding">
		<div class="grid-2">
			<div class="m">
				<div class="caption m">
					<label><i class="ti ti-bull blue"></i>@(Inputs)</label>
				</div>
				<ui-bind path="?.inputs" config="template" class="listing2 block">
					<script type="text/html">
						{{ if !value || !value.length }}
							<p class="gray"><i class="ti ti-ban mr5"></i>@(The template doesn't contain any inputs)</p>
						{{ else }}
							{{ foreach m in value }}
							<figure data-id="{{ m.id }}" class="exec" data-exec="?/copy">
								<section>
									<div><span class="badge badge-blue b">{{ m.component }}</span> {{ m.input }}</div>
									<div class="help" style="margin-top:4px">ID: {{ m.id }}</div>
								</section>
							</figure>
							{{ end }}
						{{ fi }}
					</script>
				</ui-bind>
			</div>
			<div class="m">
				<div class="caption m">
					<label><i class="ti ti-bull red"></i>@(Outputs)</label>
				</div>
				<ui-bind path="?.outputs" config="template" class="listing2 block">
					<script type="text/html">
						{{ if !value || !value.length }}
							<p class="gray"><i class="ti ti-ban mr5"></i>@(The template doesn't contain any outputs)</p>
						{{ else }}
							{{ foreach m in value }}
							<figure data-id="{{ m.id }}" class="exec" data-exec="?/copy">
								<section>
									<div><span class="badge badge-red b">{{ m.component }}</span> {{ m.output }}</div>
									<div class="help" style="margin-top:4px">ID: {{ m.id }}</div>
								</section>
							</figure>
							{{ end }}
						{{ fi }}
					</script>
				</ui-bind>
			</div>
		</div>
	</div>
	<nav>
		<button name="cancel" style="width:100%">@(Close)</button>
	</nav>
</ui-component>

<script>

	PLUGIN('~PATH~', function(exports) {

		exports.reload = function(com) {
			SET('?', { inputs: app.inputs, outputs: app.outputs });
		};

		exports.copy = function(el) {
			var id = ATTRD(el);
			SETTER('clipboard/copy', id);
			SETTER('notify/success', 'Copied: <b>{0}</b>'.format(id));
		};

	});

</script>