.ui-uibuildereditor { min-height: 500px; }
.ui-uibuildereditor-hover { background: rgba(255,247,212,0.2) !important; outline: 2px solid var(--color); }
.ui-uibuildereditor [contenteditable] { outline: 0; }